.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #222831;
}

h1 {
  margin: 30px;
  font-family: 'Comfortaa', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #00ADB5;
}

p {
  font-size: 2rem;
  color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 4rem;
  }
}